.box2 {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #e8ecef;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.text {
    flex-basis: 30%;
    margin: auto;
}

.whiteSpace {
    flex-basis: 50%;
    margin: auto;
}

.aboutMe {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: gray;
  align-self: flex-start;
  flex-basis: 30%;
  margin: auto;
}



.wrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background: #CCC;
    flex-basis: 50%;
  }
  
  .h_iframe {
    position: relative;
  }
  
  .h_iframe .ratio {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .h_iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
