.box2 {
    display: flex;
    flex-basis: 100%;
    flex: 1;
    width: 100%;
    height: 100vh;
    background-color: #e8ecef;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap-reverse;
}

.extraSpace {
  width: 100%;
  height: 100px;
}

.text {
    flex-basis: 30%;
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
    padding-top: 50px;
}

.whiteSpace {
    flex-basis: 60%;
    margin: auto;
}

.aboutMe {
  font-size: 18px;
  font-weight: 400;
  color: gray;
  align-self: flex-start;
  flex-basis: 30%;
  min-width: 150px;
  margin: auto;
  
}

.wrapper {
    width: 80%;
    height: auto;
    margin: 0 auto;
    flex-basis: 60%;
    padding-top: 50px;
}
  
.h_iframe {
  position: relative;
  min-width: 250px;
}

.h_iframe .ratio {
  display: block;
  width: 100%;
  height: auto;
}

.h_iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
