.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.box {
    display: flex;
    width: 90%;
    height: 100vh;
    background-color: yellow;
}

.box2 {
    display: flex;
    width: 90%;
    height: 100vh;
    background-color: white;
}

.box3 {
    display: flex;
    width: 90%;
    height: 100vh;
    background-color: purple;
}
  