.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.box3 {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: purple;
}
  
.resume-image {
    width: 100%;
    height: auto;
    background-image: url('./Assets/2020ChianneConnellyResume.jpg');
}

.box2 {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #e8ecef;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.sectionHeader {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: gray;
    /* align-self: flex-start; */
    /* flex-basis: 30%;
    margin: auto; */
  }

.rectangle {
    height: 140px;
    width: 42px;
    border-radius: 40%;
    background-color: teal;
}