.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.box3 {
    display: flex;
    width: 100%;
    /* height: 100vh; */
    background-color: #e8ecef;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding-top: 50px;
}


.box2 {
    display: flex;
    width: 100%;
    background-color: #e8ecef;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.sectionTitle {
    font-size: 18px;
  font-weight: 400;
  color: gray;
  align-self: flex-start;
  flex-basis: 30%;
  min-width: 150px;
  margin: auto;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.whiteSpace {
    flex-basis: 60%;
    margin: auto;
}
.moreSpace {
    width: 100%;
    height: 50px;
}

.squareEmail {
    margin-top: 20px;
    height: 100px;
    width: 100px;
    background-color: gray;
    background-image: url('./Assets/email.png');
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-size: 70%;
}
.squarePhone {
    margin-top: 20px;
    height: 100px;
    width: 100px;
    background-color: gray;
    background-image: url('./Assets/phone.png');
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-size: 50%;
}

.rectangle {
    margin-top: 20px;
    display: flex;
    flex-basis: 30%;
    min-width: 164px;
    height:100px;
    background-color: #d1d5d9;
    font-family: 'Anton', sans-serif;
    font-weight: 200;
    align-items: center;
    justify-content: center;
    color: gray;
    align-self: center;
}
.email {
    font-family: 'Anton', sans-serif;
    font-weight: 200;
    align-items: center;
    justify-content: center;
}

/* Resume stuff */
.downloadBtn {
    background-color: #67b771;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.toggle-control {
    position: relative;
    padding: 0 4px;
    display: flex;
    align-items: center;
}
input[type='checkbox'].dmcheck {
    width: 40px;
    height: 10px;
    background: #555;
    position: relative;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    vertical-align: 2px;
    outline: none;
}
  
.dmcheck:checked + label {
    left: 30px;
}

.dmcheck:focus-visible {
    outline: solid 2px white;
}

.dmcheck + label {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 2px;
    background: #fff;
    opacity: 0.9;
    background-color: #f6f6f6;
}
.dark-mode-toggle {
    display: flex;
    margin: 0 auto;
}
.dark-mode-toggle > button {
    font-size: 1.2em;
    background: none;
    border: none;
    color: #ffe600;
    cursor: pointer;
    transition: color 0.3s ease;
}
.dark-mode-toggle:last-child {
    color: #666;
}
  
.dark-mode-toggle:focus {
    outline: none;
}