* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type:none;
  font-family: 'Raleway', sans-serif;
}
.row {
  background-color: #e8ecef;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/* .white-column {
  background-color: #e8ecef;
  display: inline-block;
  width: 95%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
} */

.nav-column {
  margin:0px;
  padding: 0px;
  float: left;
  background-color: #d1d5d9;
  height: 100vh;
  position: fixed;
  width:19%;
  min-width: 95px;
  max-width: 500px;
  z-index: 20;
}

/* .content-column {
  float: right;
  height: 100%;
  width:80%;
  overflow: scroll;
  scroll-behavior: smooth;
} */

/* CIRCLE WITH PIC */
.circleBase {
  border-radius: 50%;
  margin: auto;
}

.type1 {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 60%;
  position: relative;
  background-image: url('./Assets/profPic.jpg');
  background-position:50% 50%;
  background-repeat:no-repeat;
  background-size: cover;
  /* border: 3px solid whitesmoke; */
}

.name {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 4px;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: black;
  text-align: center;
}
.job {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-align: center;
  color: black;
}

/* BUTTON */
.bttn {
  text-align: center;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  display: block;
  font-size: 18px;
  color: rgb(70, 70, 70);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;

  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.bttn:hover {
  color: black;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.bttn:after {
  content: '';
  width: 0; /*set width to 0 initially, so animates from nothing */
  height: 2px; /*height of underline*/
  background: #67b771;
  display: block; 
  /* animation settings
  0.2s duration, 0.1s delay, with easing */
  transition: width 0.2s 0.1s ease-in-out; 
}
.bttn:hover:after {
    /* whatever width you want the underline to animate to */
    width: 100%; 
}

.after-from-center:after {   
  /* center the underline
  so animation will occur from the center.
  remove this class if you want animation from the left instead */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.constrain-after:after {
  position: absolute;
}

#prod-menu li.sel a button{
    color:#67b771;
}
#prod-menu li.sel a .bttn:after {
  content: '';
  width: 100%; /*set width to 0 initially, so animates from nothing */
  height: 2px; /*height of underline*/
  background: #67b771;
  display: block; 
  transition: width 0.2s 0.1s ease-in-out; 
}

#prod-menu li.sel a .after-from-center:after {   
  /* center the underline
  so animation will occur from the center.
  remove this class if you want animation from the left instead */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#prod-menu li.sel a .constrain-after:after {
  position: absolute;
}




/* Layout */
.s-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #e8ecef;
}

.s-layout__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 90%;
}

/* Sidebar */
.s-sidebar__trigger {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  background: #d1d5d9;
  z-index: 500;
}

.s-sidebar__trigger > i {
  display: inline-block;
  margin: 1.5em 0 0 1.5em;
  color: #67b771;
}

.s-sidebar__nav {
  position: fixed;
  top: 0;
  left: -15em;
  overflow: hidden;
  transition: all .3s ease-in;
  width: 15em;
  height: 100%;
  background: #d1d5d9;
  color: rgba(255, 255, 255, 0.7);
  z-index: 500;
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
  left: 0;
}

.s-sidebar__nav ul {
  position: absolute;
  top: 4em;
  left: 0;
  margin: 0;
  padding: 0;
  width: 15em;
}

.s-sidebar__nav ul li {
  width: 100%;
}

.s-sidebar__nav-link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4em;
}

.s-sidebar__nav-link em {
  position: absolute;
  top: 50%;
  left: 4em;
  transform: translateY(-50%);
}

.s-sidebar__nav-link > i {
  position: absolute;
  top: -0.5em;
  left: 0;
  display: inline-block;
  width: 4em;
  height: 4em;
  color: #67b771;
}

.s-sidebar__nav-link > i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Mobile First */
@media (min-width: 42em) {
  .s-layout__content {
     margin-left: 4em;
  }
  
  /* Sidebar */
  .s-sidebar__trigger {
     width: 4em;
  }
  
  .s-sidebar__nav {
     width: 4em;
     left: 0;
  }
  
  .s-sidebar__nav:hover,
  .s-sidebar__nav:focus,
  .s-sidebar__trigger:hover + .s-sidebar__nav,
  .s-sidebar__trigger:focus + .s-sidebar__nav {
     width: 15em;
  }

  
}

@media (min-width: 68em) {
  .s-layout__content {
     margin-left: 15em;
  }
  
  /* Sidebar */
  .s-sidebar__trigger {
     display: none
  }
  
  .s-sidebar__nav {
     width: 15em;
  }
  
  .s-sidebar__nav ul {
     top: 1.3em;
  }
  .s-sidebar__nav-link > i {
    color: #d1d5d9;
  }
}


