.projPic {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: red;
    color:#fff;
    z-index: 1000;
    height: 200px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    text-align:center;
    line-height:160px;
}

.projPic.shrink {
    height: 100px;
    line-height:80px;
}
.projPic h4
{
    font-size:30px;
    font-weight:normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.projPic.shrink h4
{
    font-size:24px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.content
{
height:2000px;
background:gray;
width:100%;
}
/*

.projName h {
  font-size: 30px;
  text-indent: 40px;
  font-weight:  bold;
}
    
.container {
  width: 40%;
  margin: 180px auto;
}
  
.shrink {
  padding: 20px 0;
}
  
p {
  margin: 0 0 40px 0;
  line-height: 24px;
}
 
strong {
  font-weight: bold;
} */