.projPic {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #d1d5d9;
    color: rgb(70, 70, 70);
    z-index: 1000;
    height: 200px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    text-align:center;
    line-height:160px;
}

.projPic.shrink {
    height: 100px;
    line-height:80px;
}
.projHeader {
    font-size:30px;
    font-family: 'Raleway', sans-serif;
    font-weight:normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.sectionHeader {
    font-size:30px;
    font-family: 'Raleway', sans-serif;
    font-weight:normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin: 16px;
    margin-left: 0px;
}


.projPic.shrink h4 {
    font-size:24px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.projBg {
    height:auto;
    background:#e8ecef;
    width:100%;
    padding-top: 220px;
    display: inline-block;
    text-align: center;
}
.projContent {
    width: 65%;
    display: inline-block;
    text-align: left;
}
.banner {
    width: 100%;
    height: auto;
}
.image1 {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}
.image3 {
    width: 45%;
    height: auto;
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.imgContainer {
    margin-left: auto; 
    margin-right: auto;

    text-align: center;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.image2 {
    vertical-align: top;
    display: inline-block;
    zoom: 1;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 24%;
    height: auto;
    min-width: 200px;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
